.squares-scene {
  display: flex;
  padding: 15px;
}

.square {
  text-align: center;
}
.square__pints {
  font-size: 10px;
}
.square__surface {
  min-width: 100px;
  height: 100px;
  border: 1px solid #000;
  /* cursor: pointer; */
  display: block;
  margin-bottom: 2px;
}

.square__surface--painted {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 46%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #7db9e8 46%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to top,
    #ceeec6 0%,
    #ceeec6 var(--paint-height),
    #fff var(--paint-height),
    #fff 100%
  );
  transition: all 0.3s;
}

.square__surface--big {
  width: 200px;
  height: 200px;
  border: 3px solid #000;
}
.square__clicks,
.square__score {
  display: block;
  margin: 10px;
}
.square__upgrade-btn {
  display: block;
  margin: 0;
  padding: 5px;
  width: 100%;
  /* cursor: pointer; */
  background: none;
  border-radius: 0;
  border: 1px solid #000;
}
.square__upgrade-btn--disabled {
  cursor: default;
  background-color: #f18f8f;
}
.square__upgrade-btn--enabled {
  cursor: pointer;
  background-color: #9ff18f;
}

.autoclickers-list {
  margin: -6px;
}
.autoclickers-list__item {
  display: inline-block;
  margin: 6px;
}
